.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    

}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: rgb(25, 24, 24);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe Script';
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    color: darkslategray;
    font-weight: 500;
    
}


/*Theee default color is red for Link tag*/
.nav-menu a:active {
    color: rgb(213, 101, 236);
}



.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: blue;  
}
.nav-login-card{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-card button{
    width: 120px;
    height: 58px;
    outline: none;
    border: 1px solid rgb(135, 202, 222);
    border-radius: 75px;
    color: rgb(34, 31, 31);
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
    background: rgb(246, 245, 245);
}
.nav-login-card button:active{
    background-color: rgb(231, 226, 226);
}
.nav-cart-count{
    width: 22px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(177, 25, 227);
    color: rgb(255, 255, 255);
}